GOOGLE_SHEET_ID=
GOOGLE_SHEET_TAB=Public Profiles
PUBLIC_ID_SECRET=
SHEET_CONSENT_HEADER=I consent to sharing this information publicly on the PhD network website.
REQUIRE_EXPLICIT_CONSENT=false
GEOCODING_ENABLED=false
GEOCODER_USER_AGENT=rug-phd-network/1.0 (phd.council.hum@rug.nl)
NEXT_PUBLIC_SITE_NAME=PhD Network Map
NEXT_PUBLIC_MAP_STYLE_URL=https://basemaps.cartocdn.com/gl/positron-gl-style/style.json
